.btn .icon, .btn .fa {
	margin: 0;
}
button, .btn {
	border-radius: 0 !important;
}
.form-control {
	border: 1px solid #007bff;
}
.btn-warning {
	color: #fff;
}
.btn-group-xs > .btn, .btn-xs {
	padding: 3px;
	font-size: .875rem;
	line-height: .5;
	border-radius: .2rem;
}
.datepicker {
	padding: 0.375rem 0.75rem;
}
.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
    background: #49a0fe;
}
.toast-message .alert-error {
	float: left;
}
.modal-content {
	border: none;
}
.modal-header {
	color: #fff;
    background: #007bff;
}
.modal-body .tile {
	box-shadow: none;
    border-radius: 0;
    border: 1px dashed #007bff;
    margin: 0;
    background: #ffffff;
}
.form-control:disabled, 
.form-control[readonly] {
	border: 1px solid #d8d8d8;
	background: #f3feff;
}
table thead {
	background: #007bff;
	color: #fff;
	height: 35px;
	line-height: 35px;
}
table.table-bordered.dataTable th {
	width: 20px;
	height: 26px;
	vertical-align: middle;
	font-weight: bold;
}
.table th, .table td {
	padding: 3px 15px;
	font-size: 12px;
	vertical-align: middle;
}
.table.my-tbl th, .table.my-tbl td {
	padding: 1px 5px;
}
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
	font-size: 12px;
}
.page-link {
	padding: 5px 7px;
	font-size: 12px;
}
.app-menu__item {
	padding: 10px 15px;
	font-size: 12px;
}
/* ui autocomplete*/
.ui-autocomplete {
	z-index: 9999;
    padding: 0;
    list-style-type: none;
    background: #fff;
    border: 1px solid #007bff;
    color: #000;
	width: 315px;
}
.ui-autocomplete .ui-menu-item {
	font-size: 12px;;
	cursor: pointer;
	cursor: pointer;
    padding: 7px 15px;
	border-bottom: 1px dashed #007bff;
}
.ui-helper-hidden-accessible {
	display: none;
}
.ui-menu-item:hover {
	color: #fff;
    background: #007bff;
}
/*-------- end: ui autocomplete ------------ */
.custom-widget .custom-form-group {
	position: relative;
}
.custom-widget .custom-form-group label {
    position: absolute;
    top: 0px;
    right: 0 !important;
    padding: 0 5px;
    background: #dc3545;
    color: #fff;
    font-size: 10px;
}
.wrap-custom-widgets {
	padding-top: 20px;
	padding-bottom: 20px;
}
.my-tbl th, .my-tbl td {
	border: 0 !important;
	font-weight: bold;
}
.group-calculation {
	position: relative;
}
.group-calculation  input {
	text-align: right;
}
.label-calculation {
	position: relative;
}
.label-calculation {
    position: absolute;
    top: -9px;
    left: 10px;
    background: #dc3545;
    padding: 1px 5px;
    font-size: 10px;
    /* font-style: italic; */
    font-weight: bold;
    color: #fff;
}
.required:after {
	content: "*";
	margin-left: 5px;
	color: #fa0505;
}
.mb-15 {
	margin-bottom: 15px !important;
}
nav.main-header,
.main-sidebar .brand-link {
	background: #007bff;
}
.nav-header,
.nav-sidebar>.nav-item,
.nav-sidebar>.nav-item .nav-icon {
    font-size: 12px !important;
}
.nav-item.active {
	background: #007bff;
}
.nav-item.active a {
	color: #fff;
}
.form-group label,
.form-group input,
.form-group textarea {
	font-size: 14px;
}
.nav-link {
    padding: .3rem 1rem;
}
.nav.nav-tabs li {
	text-align: center;
}
.nav.nav-tabs li a.nav-link {
	color: #ccc;
}
.nav.nav-tabs li a.nav-link.active {
	color: #007bff;
	font-weight: bold;
}
.card.card-outline-tabs .card-header a {
	border-top: 3px solid #dee2e6;
	border-color: #e9ecef #e9ecef #dee2e6;
}
.card-primary.card-outline-tabs>.card-header a.active {
	border-bottom: 1px solid transparent;
}
.nav-header {
	color: #637282 !important;
}
.content-header h2 {
    font-size: 17px;
    font-weight: bold;
    background: #ffffff;
    float: left;
    color: #007bff;
    padding: 5px 15px;
    text-transform: uppercase;
    margin-top: 15px;
    border-left: 5px solid #007bff;
}
@media (min-width: 768px) {
    .modalXLarge {
        width: 95%;
        max-width: 1400px;
    }
}
@media (min-width: 768px) {
    .modalLarge {
        width: 70%;
        max-width: 1400px;
    }
}
td .btn-group {
	display: block;
	text-align: center;
}